<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <div class="form-group">
        <%= f.label :nome %>
        <%= f.text_field :nome, class: "form-control" %>
    </div>
    <div> 
        <%= link_to "Remove", '#', class: "remove_fields" %>
    <div> 
</div>