<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <h1 style="text-align:center;">Nova Enquete</h1>
        <div> <%= render 'form', enquete: @enquete %> </div>
    <div>
</div>