<p id="notice"><%= notice %></p>

<br>
<div>
<h1 style="text-align: center;"> Seja bem vindo ao Cabrália Participativa </h1> <br>

<div style="text-align: center;  background-color: #cccccc;">

<h3> Berço da Civilização Brasileira </h3> <br>

Santa Cruz, Tu és banhada pelo Atlântico azul, <br>
Na Bahia, Tu ficas ao sul, <br>
Tu brilhas como um facho de luz, <br>
Oh minha querida, Santa Cruz! <br>

Do amanhecer ao entardecer, <br>
Tudo é lindo de se ver, <br>
Quão encantadora é a sua beleza, <br>
Tu és a rainha da natureza! <br>

Tu és a terra primeira, <br>
Tu és o Berço da Civilização Brasileira! <br> <br>

			<strong style="text-align: center;">Rui Bastos</strong>

<div>